# Auth 
DISCORD_CLIENT_ID=00000000000000000000
DISCORD_CLIENT_SECRET=00000000000000000000000000000000
DISCORD_CALLBACK_URL=http://localhost:3000/callback/discord
DISCORD_BOT_TOKEN=AAA0AaA0AAAaAAA0AaAaAaa0Aa.AaA000.0AAAAaAAa6aaaAAaAA0a00aAaAAa0AaaAa0AAA
PASSWORD_LENGTH=10
ENCRYPTION_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef # Change that

# Proxycheck.io API Key
PROXYCHECK_KEY=0000000000000000000000000000

# Settings
API_PROVIDER=pterodactyl  # Options : pterodactyl (only pterodactyl available)
PROVIDER_URL=https://panel.example.com
PROVIDER_KEY=ptla_0000000000000000000000000000000000000000000

# Session
SESSION_SECRET=examplesecret

# AFK
AFK_TIME=60

# Application
APP_NAME=Fixed-Palladium
APP_URL=http://localhost:3000
APP_PORT=3000
APP_MODE=production # Options : development or production

# Admin
ADMIN_USERS=exemple@gmail.com,exemple2@gmail.com

# Logs
LOGS_PATH=./storage/logs/services.log
LOGS_ERROR_PATH=./storage/logs/errors.log

# Basic plan 
DEFAULT_PLAN=BASIC

# Cost store resources
CPU_COST=750
RAM_COST=500
DISK_COST=400
BACKUP_COST=250
DATABASE_COST=250
ALLOCATION_COST=500