.env
node_modules/

storage/database.sqlite
storage/sessions.sqlite

database.sqlite-shm
database.sqlite-wal

storage/logs/errors.log
storage/logs/services.log

pnpm-lock.yaml
package-lock.json
bun.lockb